/* .css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: #6577ab !important;
} */

.css-7e0s21-MuiPaper-root-MuiAppBar-root{
    background-color: #6577ab !important;
    box-shadow: none !important;
}